<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes: Share​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas </title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo left adjust">More Recipes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="signin.html"></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                        <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="favorite.html">Favorites</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="myrecipes.html">My Recipes</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Log out</a></li>
                    </ul>
                </li>
   
            </ul>
        </div>
   
    </nav>
    <section >  
            <div class="container"> 
                    <div class="row">
                            <div class="col s12 m6 card-container">
                              <!-- <h2 class="header">Brunch Recipe</h2> -->
                              <div class="card horizontal u-clearfix">
                                <div class="card-image ">
                                  <img src="images/553981779b4d5.jpeg">
                                </div>
                                <div class="card-stacked">
                                  <div class="card-content">
                                      <span class="card-number card-circle subtle">20</span>                    
                                      <span class="card-author subtle"> Sardaunan Tai</span>
                                      <h2 class="card-title">New Brunch Recipe</h2>
                                    <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                  </div>
                                  <div class="card-action">
                                    <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                          &nbsp;&nbsp;<strong>158</strong>
                                      </span>
                                      <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                          &nbsp;&nbsp;<strong>2</strong>
                                      <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                          &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                        <br>
                                        <a href="#">Read more</a>
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="card-shadow"> </div>
                            </div>
                            <div class="col s12 m6 card-container">
                            <!-- <h2 class="header">Brunch Recipe</h2> -->
                            <div class="card horizontal u-clearfix">
                              <div class="card-image ">
                                <img src="images/553981779b4d5.jpeg">
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-number card-circle subtle">20</span>                    
                                    <span class="card-author subtle"> Sardaunan Tai</span>
                                    <h2 class="card-title">New Brunch Recipe</h2>
                                  <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                </div>
                                <div class="card-action">
                                    <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                          &nbsp;&nbsp;<strong>158</strong>
                                      </span>
                                      <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                          &nbsp;&nbsp;<strong>2</strong>
                                      <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                          &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                        <br>
                                        <a href="#">Read more</a>
                                    
                                  </div>
                              </div>
                            </div>
                            <div class="card-shadow"> </div>
                          </div>
                          <div class="col s12 m6 card-container">
                              <!-- <h2 class="header">Brunch Recipe</h2> -->
                              <div class="card horizontal u-clearfix">
                                <div class="card-image ">
                                  <img src="images/553981779b4d5.jpeg">
                                </div>
                                <div class="card-stacked">
                                  <div class="card-content">
                                      <span class="card-number card-circle subtle">20</span>                    
                                      <span class="card-author subtle"> Sardaunan Tai</span>
                                      <h2 class="card-title">New Brunch Recipe</h2>
                                    <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                  </div>
                                  <div class="card-action">
                                      <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                            &nbsp;&nbsp;<strong>158</strong>
                                        </span>
                                        <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                            &nbsp;&nbsp;<strong>2</strong>
                                        <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                            &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                          <br>
                                          <a href="#">Read more</a>
                                      
                                    </div>
                                </div>
                              </div>
                              <div class="card-shadow"> </div>
                            </div>
                            <div class="col s12 m6 card-container">
                                    <!-- <h2 class="header">Brunch Recipe</h2> -->
                                    <div class="card horizontal u-clearfix">
                                      <div class="card-image ">
                                        <img src="images/553981779b4d5.jpeg">
                                      </div>
                                      <div class="card-stacked">
                                        <div class="card-content">
                                            <span class="card-number card-circle subtle">20</span>                    
                                            <span class="card-author subtle"> Sardaunan Tai</span>
                                            <h2 class="card-title">New Brunch Recipe</h2>
                                          <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                        </div>
                                        <div class="card-action">
                                            <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                                  &nbsp;&nbsp;<strong>158</strong>
                                              </span>
                                              <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                                  &nbsp;&nbsp;<strong>2</strong>
                                              <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                                  &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                                <br>
                                                <a href="#">Read more</a>
                                            
                                          </div>
                                      </div>
                                    </div>
                                    <div class="card-shadow"> </div>
                                  </div>
                                  <div class="col s12 m6 card-container">
                                        <!-- <h2 class="header">Brunch Recipe</h2> -->
                                        <div class="card horizontal u-clearfix">
                                          <div class="card-image ">
                                            <img src="images/553981779b4d5.jpeg">
                                          </div>
                                          <div class="card-stacked">
                                            <div class="card-content">
                                                <span class="card-number card-circle subtle">20</span>                    
                                                <span class="card-author subtle"> Sardaunan Tai</span>
                                                <h2 class="card-title">New Brunch Recipe</h2>
                                              <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                            </div>
                                            <div class="card-action">
                                                <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                                      &nbsp;&nbsp;<strong>158</strong>
                                                  </span>
                                                  <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                                      &nbsp;&nbsp;<strong>2</strong>
                                                  <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                                      &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                                    <br>
                                                    <a href="#">Read more</a>
                                                
                                              </div>
                                          </div>
                                        </div>
                                        <div class="card-shadow"> </div>
                                      </div>
                            <div class="col s12 m6 card-container">
                            <!-- <h2 class="header">Brunch Recipe</h2> -->
                            <div class="card horizontal u-clearfix">
                              <div class="card-image ">
                                <img src="images/553981779b4d5.jpeg">
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-number card-circle subtle">20</span>                    
                                    <span class="card-author subtle"> Sardaunan Tai</span>
                                    <h2 class="card-title">New Brunch Recipe</h2>
                                  <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
                                </div>
                                <div class="card-action">
                                    <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                                          &nbsp;&nbsp;<strong>158</strong>
                                      </span>
                                      <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                                          &nbsp;&nbsp;<strong>2</strong>
                                      <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                                          &nbsp;&nbsp;<strong>20 Reviews</strong>   
                                        <br>
                                        <a href="#">Read more</a>
                                    
                                  </div>
                              </div>
                            </div>
                            <div class="card-shadow"> </div>
                          </div>
                        </div>
                
            </div>     
 
          </section>
</body>
<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stay Connected</h5>
                    <p class="grey-text text-lighten-4">Join our over 5 million users today.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <!--
                  <h5 class="white-text">Sign Up</h5>
                   <h5 class="white-text">Sign In</h5>
    -->
                    <ul style="display: inline-flex;">
                        
                        <li>
                            <a href="http://facebook.com/morecipesapp"> <i class="fa fa-facebook"></i></a>
                        </li>
                        &emsp;&emsp;
                        <li>
                          <a href="http://twitter.com/morecipesapp"> <i class="fa fa-twitter"></i></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Happy Girl World
                <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>    
    

<script>
    $( document ).ready(function() {
        $(".dropdown-button").dropdown();
    });

      
</script>