<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes: Share​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas </title>
    
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    
</head>
<body>
    <header> 
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper ">
                    <a href="index.html" class="brand-logo left adjust">More Recipes</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="signin.html"></a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                            <!-- Dropdown Structure -->
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                                <li class="divider"></li>
                                <li><a href="#!">three</a></li>
                            </ul>
                    </li>
                </div>
            </nav>
        </div> 
        </header>

    <div class="container">
    <div class="row">
    <div class="col s12">    
      <h3 class="center-align"> My Favorites Recipes </h3>  
            <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                <img src="images/553981779b4d5.jpeg">
                <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                <a href="#">Read More</a>
                <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                        &nbsp;&nbsp;<strong>0</strong>
                  </span>
                  <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                        &nbsp;&nbsp;<strong>0</strong>
                  <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                        &nbsp;&nbsp;<strong>0 Review</strong>
            
                </div>
            </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    <img src="images/5539811f0ad2d.jpeg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">Read More</a>
                    <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      </span>
                      <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                            &nbsp;&nbsp;<strong>0 Review</strong>
                        
                    
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    <img src="images/553980ebc3852.jpeg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">Read More</a>
                    <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      </span>
                      <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                            &nbsp;&nbsp;<strong>0 Review</strong>
                        </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image fixed-action-btn horizontal">
                    <img src="images/5539811f0ad2d.jpeg">
                    <span class="card-title">Card Title</span>
        
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">Read More</a>
                    <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      </span>
                      <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                            &nbsp;&nbsp;<strong>0</strong>
                      <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                            &nbsp;&nbsp;<strong>0 Review</strong>
                        
                    </div>
                </div>
            </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image fixed-action-btn horizontal">
                        <img src="images/5539811f0ad2d.jpeg">
                        <span class="card-title">Card Title</span>
            
                        </div>
                        <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Read More</a>
                        <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                                &nbsp;&nbsp;<strong>0</strong>
                          </span>
                          <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                                &nbsp;&nbsp;<strong>0</strong>
                          <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                                &nbsp;&nbsp;<strong>0 Review</strong>
                                
                        </div>
                    </div>
                </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image fixed-action-btn horizontal">
                            <img src="images/5539811f0ad2d.jpeg">
                            <span class="card-title">Card Title</span>
                
                            </div>
                            <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                            <a href="#">Read More</a>
                            <a class="btn-floating "  ><i class="small material-icons">thumb_up</i></a><span>
                                    &nbsp;&nbsp;<strong>0</strong>
                              </span>
                              <a class="btn-floating " ><i class=" small material-icons">thumb_down</i></a><span>
                                    &nbsp;&nbsp;<strong>0</strong>
                              <a class="btn-floating" ><i class="small material-icons">comment</i></a><span>
                                    &nbsp;&nbsp;<strong>0 Review</strong>
                                       
                            </div>
                        </div>
                    </div>
    </div>
    </div>
    </div>
</body>
<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stay Connected</h5>
                    <p class="grey-text text-lighten-4">Join our over 5 million users today.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <!--
                  <h5 class="white-text">Sign Up</h5>
                   <h5 class="white-text">Sign In</h5>
    -->
                    <ul style="display: inline-flex;">
                        
                        <li>
                            <a href="http://facebook.com/morecipesapp"> <i class="fa fa-facebook"></i></a>
                        </li>
                        &emsp;&emsp;
                        <li>
                          <a href="http://twitter.com/morecipesapp"> <i class="fa fa-twitter"></i></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Happy Girl World
                <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

<script>
    $( document ).ready(function() {
        $(".dropdown-button").dropdown();
    });

      
</script>
{# <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script> #}