<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes: Share​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas </title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    
</head>
<body>
    <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper ">
                        <a href="index.html" class="brand-logo left adjust">More Recipes</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="signin.html"></a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                                <!-- Dropdown Structure -->
                                <ul id="dropdown1" class="dropdown-content">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="favorite.html">Favorite</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Log out</a></li>
                                </ul>
                            </li>
            
                        </ul>
                    </div>
                </nav>

            </div>
    </header>

    <div class="container">
    <div class="recipes-add-btn">
        <a class="btn btn-primary" href="#add-recipe">Add Recipe</a>
    </div>
    <div class="row">
        <div id="view-recipes" class="col s12">      
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/553981779b4d5.jpeg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Read More</a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="delete-popup" ><i class="material-icons">delete</i></a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="add-recipe"><i class="material-icons">edit</i></a>
                    
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/5539811f0ad2d.jpeg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Read More</a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="delete-popup" ><i class="material-icons">delete</i></a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="add-recipe"><i class="material-icons">edit</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                            <img src="images/553980ebc3852.jpeg">
                    <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                        </div>
                    <div class="card-action">
                        <a href="#">Read More</a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="delete-popup" ><i class="material-icons">delete</i></a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="add-recipe"><i class="material-icons">edit</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image fixed-action-btn horizontal">
                        <img src="images/5539811f0ad2d.jpeg">
                        <span class="card-title">Card Title</span>
            
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Read More</a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="delete-popup" ><i class="material-icons">delete</i></a>
                        <a class="btn-floating  modal-trigger .modal-close " data-target="add-recipe"><i class="material-icons">edit</i></a>
                            
                    </div>
                </div>
            </div>
        </div>
                          
    </div>

    <!-- Modal Structure -->
    <div id="delete-popup" class="modal">
        <div class="modal-content">
            <h4>Are you sure you want to delete this recipe?</h4>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat danger-btn">YES</a>
            <a href="#view-recipes" class="modal-action modal-close waves-effect waves-green btn-flat default-btn">NO</a>
            
        </div>
    </div>
            
            <div id="add-recipe" class="col s12 modal modal-content modal-style center-align " > 
                    <div class="row ">
                        <form class="col s12 " >
                            <h2 class="center-align">Add a Recipe </h2>
                            <div class="row">
                                <div class="input-field col s8">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="title" type="text" placeholder="Enter your recipe title" class="validate">
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <select class="icons">
                                                <option value="" disabled selected>Choose a category</option>
                                                <option value="" data-icon="images/sample-1.jpg" class="circle">Date night</option>
                                                <option value="" data-icon="images/office.jpg" class="circle">30 min cook</option>
                                                <option value="" data-icon="images/yuna.jpg" class="circle">breakfast</option>
                                            </select>
                                            <label>Category</label>
                                        </div>
                                    </div>
                        
                                    <div class="row">
                                        <div class="input-field col s4">
                                            <input placeholder="Enter prep time (mins)" id="prep_time" type="text" class="validate">
                                            <label for="prep_time">Prep time</label>
                                        </div>
                                        <div class="input-field col s4">
                                            <input id="cook_time" placeholder="Enter cook time (mins) " type="text" class="validate">
                                            <label for="cook_time">Cook time</label>
                                        </div>
                                        <div class="input-field col s4">
                                                <input id="total_time" placeholder="Enter total time (mins) " type="text" class="validate">
                                                <label for="total">Total time</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input placeholder="Enter no of servings" id="servings" type="text" class="validate">
                                            <label for="servings">Servings</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="cook_time" placeholder="Enter yield " type="text" class="validate">
                                            <label for="cook_time">Yield</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s4">
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <div class="card">
                                                    <div class="card-image fixed-action-btn horizontal">
                                                        <img  src="images/Panchtantra-2-2048px.jpg" alt="your recipe image" >
                                                        <a class="btn-floating  halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                                                        <ul>
                                                            <li><a class="btn-floating  red"><i class="material-icons">insert_chart</i></a></li>
                                                            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                                                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                                                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>Awesome Recipe 101.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>   
            
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="description" class="materialize-textarea"></textarea>
                                    <label for="description">Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="ingredients" class="materialize-textarea"></textarea>
                                    <label for="ingredients">Ingredients</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="direction" class="materialize-textarea"></textarea>
                                    <label for="direction">Direction</label>
                                </div>
                            </div>
            
            
                            <a class="waves-effect waves-light btn grey darken-4">Save Recipe</a>
            
                        </form>
                    </div>
                </div>

          </div>
        </div>

<footer class="page-footer">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Stay Connected</h5>
                <p class="grey-text text-lighten-4">Join our over 5 million users today.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <!--
                <h5 class="white-text">Sign Up</h5>
                <h5 class="white-text">Sign In</h5>
-->
                <ul>
                    <li>
                        <a href="http://twitter.com/morecipesapp"><img src="images/twitter-wrap.png" alt="Twitter Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                    </li>
                    <li>
                        <a href="http://facebook.com/morecipesapp"><img src="images/facebook-wrap.png" alt="Facebook Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright  ">
        <div class="container ">
            © 2017 Happy Girl World
            <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <script>
          $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
       
    </script>
    <script>
    
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
      </script>


</body>

</html>
