<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Recipes: Share​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  
    
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo left">More Recipes</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                          <!-- Dropdown Structure -->
                      <ul id="dropdown1" class="dropdown-content">
                          <li><a href="#!">one</a></li>
                          <li><a href="#!">two</a></li>
                          <li class="divider"></li>
                          <li><a href="#!">Log Out</a></li>
                      </ul>
                  </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="row">
      <div class="col s12 m4 profile-bio">
        <div class="card large">
          <div class="row">
          <div class="card-image">
            <img src="./images/user-avatar.png">
          </div>
        </div>
          <div class="card-content">
            <span class="card-title">User Bio</span>
            <p> <b>Name: </b> Sardaunan Koimako
            
          </div>
          <div class="card-action">
            <a href="#">Edit Profile</a>
          </div>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="card large">
        <div class="card-content">
          <div class="row">
          <img src="./images/5539811f0ad2d.jpeg " height="200" width="100%">
          </div>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">

          <li class="tab col s6"><a href="#favorites" class="active">Favorites</a></li>
          <li class="tab col s6"><a href="#myrecipes">My Recipes</a></li>
          </ul>
        </div>
        <div class="card-content">
            <div id="favorites" class="col s12">
                <div class="col s6">
                    <img src="images/5539811f0ad2d.jpeg " height="200" width="200">
                    <span class="center-align"> Food title </span>                                    
                </div>
                <div class="col s6">
                    <img src="images/5539811f0ad2d.jpeg " height="200" width="200">                                    
                    <span class="center-align"> Food title </span>                                    
                  </div>                              
                <div class="col s6">
                        <img src="images/5539811f0ad2d.jpeg " height="200" width="200">                                    
                        <span class="center-align"> Food title </span>                                    
                        
                      </div>
                      <div class="col s6">
                          <img src="images/5539811f0ad2d.jpeg " height="200" width="200"> 
                        <span class="center-align"> Food title </span>                                    
                        
                      </div>
            </div>

            <div id="myrecipes" class="col s12">
              <div class="row">
                  <div class="col s6">
                      <img src="images/5539811f0ad2d.jpeg " height="200" width="200"> 
                    <span class="center-align"> Food title </span>                                    
                    
                  </div>
                  <div class="col s6 rounded-image">
                      <img src="images/5539811f0ad2d.jpeg " height="200" width="200">                                    
                    <span class="center-align"> Food title </span>                                    
                    
                  </div>                              
                  <div class="col s6 rounded-image">
                          <img src="images/5539811f0ad2d.jpeg " height="200" width="200">                                    
                    <span class="center-align"> Food title </span>                                                        
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
</body>
<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stay Connected</h5>
                    <p class="grey-text text-lighten-4">Join our over 5 million users today.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <!--
                  <h5 class="white-text">Sign Up</h5>
                   <h5 class="white-text">Sign In</h5>
-->
                    <ul>
                        <li>
                            <a href="http://twitter.com/morecipesapp"><img src="images/twitter-wrap.png" alt="Twitter Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                        </li>
                        <li>
                            <a href="http://facebook.com/morecipesapp"><img src="images/facebook-wrap.png" alt="Facebook Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Happy Girl World
                <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
</footer>
</html>